<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
<!--<div class="navbar-default  navbar-collapse">-->
    <div class="container">
        <ul class="nav navbar-nav nav-pills" role="tablist">
            <li id="oneA-list" onclick="activateMenu('oneA-list');" class="listNav">
                <a href="#/oneA-list">oneA <span class="glyphicon glyphicon-tower" /></a>
            </li>
            <li id="oneToOneA-list" onclick="activateMenu('oneToOneA-list');" class="listNav">
                <a href="#/oneToOneA-list">oneToOneA <span class="glyphicon glyphicon-tower" /></a>
            </li>
            <li id="oneToOneSelfA-list" onclick="activateMenu('oneToOneSelfA-list');" class="listNav">
                <a href="#/oneToOneSelfA-list">oneToOneSelfA <span class="glyphicon glyphicon-tower" /></a>
            </li>
            <li id="oneToManyA-list" onclick="activateMenu('oneToManyA-list');" class="listNav">
                <a href="#/oneToManyA-list">oneToManyA <span class="glyphicon glyphicon-tower" /></a>
            </li>
            <li id="oneToManySelfA-list" onclick="activateMenu('oneToManySelfA-list');" class="listNav">
                <a href="#/oneToManySelfA-list">oneToManySelfA <span class="glyphicon glyphicon-tower" /></a>
            </li>
            <li id="manyToManyA-list" onclick="activateMenu('manyToManyA-list');" class="listNav">
                <a href="#/manyToManyA-list">manyToManyA <span class="glyphicon glyphicon-tower" /></a>
            </li>
            <li id="manyToManySelfA-list" onclick="activateMenu('manyToManySelfA-list');" class="listNav">
                <a href="#/manyToManySelfA-list">manyToManySelfA <span class="glyphicon glyphicon-tower" /></a>
            </li>

            <li id="event-list" onclick="activateMenu('event-list');" class="listNav">
                <a href="#/event-list">event <span class="glyphicon glyphicon-tower" /></a>
            </li>
        </ul>
    </div>
</nav>

